name: Daily Readme Update

on:
  schedule:
    - cron: "30 18 * * *"
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update README
        run: |
          git config --global user.email "anujshrivastava10e@gmail.com"
          git config --global user.name "Anuj"
          git add README.md
          git diff --staged --quiet || git commit -m "Updated README on $(TZ=Asia/Kolkata date +'%Y-%m-%d %H:%M')"
          git push origin main || true