name: Daily Readme Update

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update Dev Quote Image
        run: |
          TIMESTAMP=$(TZ=Asia/Kolkata date +%Y-%m-%dT%H-%M-%S)
          sed -i "s|_=[0-9T\-]*\"|_=$TIMESTAMP\"|g" README.md
          
          git config --global user.email "anujshrivastava10e@gmail.com"
          git config --global user.name "Anuj"
          git add README.md
          git diff --staged --quiet || git commit -m "✍️ Update Readme.md - $(TZ=Asia/Kolkata date +'%Y-%m-%d %H:%M:%S IST')"
          git push origin main || true
